/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree .
*/

@mixin transition($t) {
  -webkit-transition:$t;
  -moz-transition:$t;
  -ms-transition:$t;
  -o-transition:$t;
  transition:$t;
}

body {
  background-color:#fff;
  background-image:image-url("bg.png");
  background-position:0 0;
  background-repeat:repeat-x;
  border-top:5px solid #333;
  padding-top:10px;
}

pre, code, kbd, samp {
  font-family: 'Bitstream Vera Sans Mono', 'Menlo', 'Monaco', 'Ubuntu Mono', 'Courier New', monospace;
}

a {
  color:#00abab;
  text-decoration:none;

  @include transition(color 1s ease-in-out);

  &:hover {
    color:#000;
  }
}

p {
  font-family:Helvetica,Arial,sans-serif;
  font-size:14px;
}

.clear {
  clear: both;
  display: block;
  visibility: hidden;
}

body > header {
  margin:0 2em;
  padding:0 2em;
  border-bottom:1px solid #aaa;
  overflow:hidden;
  text-shadow:0 1px 0 rgba(255,255,255,.25);

  .brand {
    color:#000;
  }

  h1 {
    float:left;
  }

  nav {
    float:left;

    &.user-navigation {
      float:right;
    }
  }

  ul {
    line-height:50px;
  }

  li {
    display:inline;
    font-size:14px;
    font-weight:bold;
  }
}

body > footer {
  margin-top: 100px;
  text-align:center;

  p, .social {
    margin:0;
    font-size:11px;
  }

  .social {
    margin-top:5px;
  }
}

// Custom grid

.grid {
  width:100%;
  margin:0 auto;
  overflow:hidden;
  line-height:1.5;

  pre {
    padding:.5em;
    font-family:'Bitstream Vera Mono','Menlo','Monaco','Ubuntu Mono',monospace;
    background:#f5f5f5;
    color:#333;
    text-shadow:0 1px 0 rgba(255,255,255,.5);

    border-radius:10px;
  }
}

.column-2, .column-3 {
  display:inline;
  float:left;
}

@media only screen and (min-width: 768px) {
  .grid {
    width:750px;
  }

  .column-2 {
    width:360px;
    margin-right:30px;

    &:last-child {
      margin-right:0;
    }
  }

  .column-3 {
    width:230px;
    margin-right:30px;

    &:last-child {
      margin-right:0;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .grid {
    width:960px;
  }

  .column-2 {
    width:465px;
  }

  .column-3 {
    width:300px;
  }
}

@media only screen and (min-width: 1280px) {
  .grid {
    width:1140px;
  }

  .column-2 {
    width:555px;
  }

  .column-3 {
    width:360px;
  }
}
