// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.teaser {
  margin:2em;
  text-align:center;

  h1 {
    display:inline;
    font-size:36px;
    padding:2em;
  }
}

.featured-asciicast {
  margin:1em 0;
  background:#111;
  padding:10px 0;

  .asciicast {
    text-align:center;
  }

  .player {
    margin:0 auto;
  }
}
