<section class="supplimental">
  <div class="wrapper">
    <div class="main">
      <h1>All Asciicasts</h1>
      <%= render :partial => 'asciicasts/previews' %>
      <%= paginate @asciicasts %>
    </div>

    <%# <div class="extras"> %>
    <%# </div> %>
  </div>
</section>

