<section class="supplimental">
  <div class="wrapper">
    <div class="main">
      <h1>All Asciicasts</h1>
      <%= render :partial => 'asciicasts/previews' %>
      <%= paginate @asciicasts %>
    </div>

    <div class="extras">
      <%# <h1>Browse</h1> %>
      <%# <p>Nana</p> %>
    </div>
  </div>
</section>
