<section id="presentation" class="feature">
  <div class="asciicast-wrapper">
    <%# <h1><%= @asciicast.smart_title %1></h1> %>
    <%= render :partial => 'asciicasts/player',
                :locals => { :asciicast => @asciicast } %>

    <%# <div class="extras"> %>
    <%#   <div class="presenter"> %>
    <%#     <a href="/u/valakirka"><img alt="09a14d61e3e1f8b1fe6866b4fdbb4abe?s=47" src="//secure.gravatar.com/avatar/09a14d61e3e1f8b1fe6866b4fdbb4abe?s=47"></a> %>
    <%#     <h2><a href="/u/valakirka">valakirka</a></h2> %>
    <%#     <p>1 Presentation</p> %>
    <%#   </div> %>
    <%# </div> %>
  </div>
</section>

<section class="supplimental">
  <div class="wrapper">
    <div class="main">
      <h1>Description</h1>
      <div class="description">
        <%= markdown do %><%= @asciicast.description.to_s %><% end %>
      </div>
    </div>

    <div class="extras">
      <h1>Speaker Bio</h1>
      <p>
        <a href="#">View Speaker Details</a>
      </p>
    </div>
  </div>
</section>
