Sign in
<%# <ul class="nav pull-right"> %>
<%#   <li class="divider-vertical"></li> %>

<%#   <% if current_user %1> %>
<%#     <li class="avatar"><%= link_to avatar_img(current_user), profile_path(current_user) %1></li> %>
<%#     <li><%= link_to "Log out", logout_path, :class => "logout" %1></li> %>
<%#   <% else %1> %>
<%#     <li><%= link_to "Log in", login_path %1></li> %>
<%#   <% end %1> %>
<%# </ul> %>
